/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }


// No Padding Support
// --------------------------------------------------

.no-padding{
    padding: 0;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.modal-open {
    overflow: visible!important;
}

ol.breadcrumb{
    margin-top: 86px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: .9em;
}

.intro .wysiwyg {
  img {
    position:relative;
    right: -44px;
    @include media-breakpoint-down(sm) {
        right:0px;
    }
  }  
}

.wysiwyg {
    img {
        max-width: 100%;
        height:auto!important;
        
        @include media-breakpoint-down(xs) {
            margin:0 auto!important;
            margin-bottom:20px!important;
        }
    }   
    blockquote {
        border-left: 5px solid $red-80;
        padding-left: 25px;
        margin-left: 25px;
        font-style: italic;
        font-size: 1.6em;
        color: $grey-80;
        margin-top:30px;
        margin-bottom:30px;
    }
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    color:white;
    text-align:center;
    padding-top:4px;
    font-size:1.5em;
}

.wow {visibility:hidden;}