//
// Color Definitions
// --------------------------------------------------

$white:    rgba(255,255,255,1);
$white-95: rgba(255,255,255,0.95);
$white-90: rgba(255,255,255,0.9);
$white-80: rgba(255,255,255,0.8);
$white-70: rgba(255,255,255,0.7);
$white-60: rgba(255,255,255,0.6);
$white-50: rgba(255,255,255,0.5);
$white-40: rgba(255,255,255,0.4);
$white-90: rgba(255,255,255,0.9);
$white-30: rgba(255,255,255,0.3);
$white-20: rgba(255,255,255,0.2);
$white-10: rgba(255,255,255,0.1);
$white-5:  rgba(255,255,255,0.05);
$white-4:  rgba(255,255,255,0.04);
$white-3:  rgba(255,255,255,0.03);
$white-2:  rgba(255,255,255,0.02);
$white-1:  rgba(255,255,255,0.01);
$white-0:  rgba(255,255,255,0);

$soft-white:    rgba(247,246,245,1);
$soft-white-95: rgba(247,246,245,0.95);
$soft-white-90: rgba(247,246,245,0.9);
$soft-white-80: rgba(247,246,245,0.8);
$soft-white-70: rgba(247,246,245,0.7);
$soft-white-60: rgba(247,246,245,0.6);
$soft-white-50: rgba(247,246,245,0.5);
$soft-white-40: rgba(247,246,245,0.4);
$soft-white-90: rgba(247,246,245,0.9);
$soft-white-30: rgba(247,246,245,0.3);
$soft-white-20: rgba(247,246,245,0.2);
$soft-white-10: rgba(247,246,245,0.1);
$soft-white-5:  rgba(247,246,245,0.05);
$soft-white-4:  rgba(247,246,245,0.04);
$soft-white-3:  rgba(247,246,245,0.03);
$soft-white-2:  rgba(247,246,245,0.02);
$soft-white-1:  rgba(247,246,245,0.01);
$soft-white-0:  rgba(247,246,245,0);

$black:    rgba(0,0,0,1);
$black-95: rgba(0,0,0,0.95);
$black-90: rgba(0,0,0,0.9);
$black-80: rgba(0,0,0,0.8);
$black-70: rgba(0,0,0,0.7);
$black-60: rgba(0,0,0,0.6);
$black-50: rgba(0,0,0,0.5);
$black-40: rgba(0,0,0,0.4);
$black-30: rgba(0,0,0,0.3);
$black-20: rgba(0,0,0,0.2);
$black-10: rgba(0,0,0,0.1);
$black-5:  rgba(0,0,0,0.05);
$black-4:  rgba(0,0,0,0.04);
$black-3:  rgba(0,0,0,0.03);
$black-2:  rgba(0,0,0,0.02);
$black-1:  rgba(0,0,0,0.01);
$black-0:  rgba(0,0,0,0);

$grey:    rgba(65,83,92,1);
$grey-95: rgba(65,83,92,0.95);
$grey-90: rgba(65,83,92,0.9);
$grey-80: rgba(65,83,92,0.8);
$grey-70: rgba(65,83,92,0.7);
$grey-60: rgba(65,83,92,0.6);
$grey-50: rgba(65,83,92,0.5);
$grey-40: rgba(65,83,92,0.4);
$grey-30: rgba(65,83,92,0.3);
$grey-20: rgba(65,83,92,0.2);
$grey-10: rgba(65,83,92,0.1);
$grey-5:  rgba(65,83,92,0.05);
$grey-4:  rgba(65,83,92,0.04);
$grey-3:  rgba(65,83,92,0.03);
$grey-2:  rgba(65,83,92,0.02);
$grey-1:  rgba(65,83,92,0.01);
$grey-0:  rgba(65,83,92,0);

$true-blue:    rgba(2,157,221,1);
$blue:    rgba(2,156,220,1);
$blue-95: rgba(2,156,220,0.95);
$blue-90: rgba(2,156,220,0.9);
$blue-80: rgba(2,156,220,0.8);
$blue-70: rgba(2,156,220,0.7);
$blue-60: rgba(2,156,220,0.6);
$blue-50: rgba(2,156,220,0.5);
$blue-40: rgba(2,156,220,0.4);
$blue-30: rgba(2,156,220,0.3);
$blue-20: rgba(2,156,220,0.2);
$blue-10: rgba(2,156,220,0.1);
$blue-5:  rgba(2,156,220,0.05);
$blue-4:  rgba(2,156,220,0.04);
$blue-3:  rgba(2,156,220,0.03);
$blue-2:  rgba(2,156,220,0.02);
$blue-1:  rgba(2,156,220,0.01);
$blue-0:  rgba(2,156,220,0);

$true-purple:    rgba(194,39,185,1);
$purple:    rgba(137,74,124,1);
$purple-95: rgba(137,74,124,0.95);
$purple-90: rgba(137,74,124,0.9);
$purple-80: rgba(137,74,124,0.8);
$purple-75: rgba(137,74,124,0.75);
$purple-70: rgba(137,74,124,0.7);
$purple-60: rgba(137,74,124,0.6);
$purple-50: rgba(137,74,124,0.5);
$purple-40: rgba(137,74,124,0.4);
$purple-30: rgba(137,74,124,0.3);
$purple-20: rgba(137,74,124,0.2);
$purple-10: rgba(137,74,124,0.1);
$purple-5:  rgba(137,74,124,0.05);
$purple-4:  rgba(137,74,124,0.04);
$purple-3:  rgba(137,74,124,0.03);
$purple-2:  rgba(137,74,124,0.02);
$purple-1:  rgba(137,74,124,0.01);
$purple-0:  rgba(137,74,124,0);

$true-green:    rgba(179,202,96,1);
$green:    rgba(178,201,96,1);
$green-95: rgba(178,201,96,0.95);
$green-90: rgba(178,201,96,0.9);
$green-80: rgba(178,201,96,0.8);
$green-70: rgba(178,201,96,0.7);
$green-60: rgba(178,201,96,0.6);
$green-50: rgba(178,201,96,0.5);
$green-40: rgba(178,201,96,0.4);
$green-30: rgba(178,201,96,0.3);
$green-20: rgba(178,201,96,0.2);
$green-10: rgba(178,201,96,0.1);
$green-5:  rgba(178,201,96,0.05);
$green-4:  rgba(178,201,96,0.04);
$green-3:  rgba(178,201,96,0.03);
$green-2:  rgba(178,201,96,0.02);
$green-1:  rgba(178,201,96,0.01);
$green-0:  rgba(178,201,96,0);

$true-red:    rgba(143,19,54,1);
$red:    rgba(144,18,53,1);
$red-95: rgba(144,18,53,0.95);
$red-90: rgba(144,18,53,0.9);
$red-80: rgba(144,18,53,0.8);
$red-75: rgba(144,18,53,0.75);
$red-70: rgba(144,18,53,0.7);
$red-60: rgba(144,18,53,0.6);
$red-50: rgba(144,18,53,0.5);
$red-40: rgba(144,18,53,0.4);
$red-30: rgba(144,18,53,0.3);
$red-20: rgba(144,18,53,0.2);
$red-10: rgba(144,18,53,0.1);
$red-5:  rgba(144,18,53,0.05);
$red-4:  rgba(144,18,53,0.04);
$red-3:  rgba(144,18,53,0.03);
$red-2:  rgba(144,18,53,0.02);
$red-1:  rgba(144,18,53,0.01);
$red-0:  rgba(144,18,53,0);

$true-orange:    rgba(248,151,29,1);
$orange:    rgba(248,151,29,1);
$orange-95: rgba(248,151,29,0.95);
$orange-90: rgba(248,151,29,0.9);
$orange-80: rgba(248,151,29,0.8);
$orange-70: rgba(248,151,29,0.7);
$orange-60: rgba(248,151,29,0.6);
$orange-50: rgba(248,151,29,0.5);
$orange-40: rgba(248,151,29,0.4);
$orange-30: rgba(248,151,29,0.3);
$orange-20: rgba(248,151,29,0.2);
$orange-10: rgba(248,151,29,0.1);
$orange-5:  rgba(248,151,29,0.05);
$orange-4:  rgba(248,151,29,0.04);
$orange-3:  rgba(248,151,29,0.03);
$orange-2:  rgba(248,151,29,0.02);
$orange-1:  rgba(248,151,29,0.01);
$orange-0:  rgba(248,151,29,0);

$cta:            rgba(2,157,219,1);
$cta-90:         rgba(2,157,219,.9);
$cta-80:         rgba(2,157,219,.8);
$cta-70:         rgba(2,157,219,.7);
$cta-60:         rgba(2,157,219,.6);
$cta-50:         rgba(2,157,219,.5);
$cta-40:         rgba(2,157,219,.4);
$cta-30:         rgba(2,157,219,.3);
$cta-20:         rgba(2,157,219,.2);
$cta-10:         rgba(2,157,219,.1);

$headings-color:    rgba(0,117,201,1);
$headings-color-95: rgba(0,117,201,0.95);
$headings-color-90: rgba(0,117,201,0.9);
$headings-color-80: rgba(0,117,201,0.8);
$headings-color-70: rgba(0,117,201,0.7);
$headings-color-60: rgba(0,117,201,0.6);
$headings-color-50: rgba(0,117,201,0.5);
$headings-color-40: rgba(0,117,201,0.4);
$headings-color-30: rgba(0,117,201,0.3);
$headings-color-20: rgba(0,117,201,0.2);
$headings-color-10: rgba(0,117,201,0.1);
$headings-color-5:  rgba(0,117,201,0.05);
$headings-color-4:  rgba(0,117,201,0.04);
$headings-color-3:  rgba(0,117,201,0.03);
$headings-color-2:  rgba(0,117,201,0.02);
$headings-color-1:  rgba(0,117,201,0.01);
$headings-color-0:  rgba(0,117,201,0);

$brand-primary:     $red;
$brand-info:        $blue;
$brand-warning:     $orange;
$brand-danger:      $red;


// Breadcrumbs

$breadcrumb-padding-y:          .75rem;
$breadcrumb-padding-x:          1rem;
$breadcrumb-item-padding:       .5rem;

$breadcrumb-bg:                 $white;
$breadcrumb-divider-color:      $grey; //$gray-light;
$breadcrumb-active-color:       $grey; //$gray-light;
$breadcrumb-divider:            "|";

