@mixin card-factory($color, $color-30, $color-50, $color-80) {

        background: $color-80;

        .card-img-overlay{
            background: $color-50;
            color: $white;
        }
        .card-title{
            color: $white;
        }
        .card-text{
            color: $white;
        }
        span.button{
            border: 1px solid $white-80;
            color: $white-80;
        }

        &:hover{
            background: $color;
            .card-img-overlay{
                background: $color-30;
            }
            .card-title{
                color: $white;
            }
            .card-text{
                color: $white;
            }
            span.button{
                background: $white-20;
                color: $white;
            }
        }
}
