@mixin curly($curly-color) {

    display: block;
    position: relative;
    text-transform: uppercase;
    text-align: right;
    padding-right: 44px;
    padding-top: 44px;
    font-size: 18px;
    color: $curly-color;
    align-items: middle;
    margin-bottom: 44px;


    &:after{
        display: block;
        content: '}';
        font-size: 100px;
        font-weight: 100;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        color: $curly-color
    }

}
