@mixin line($color1, $color2, $height) {
    border: 0;
    height: $height;
    background: $color2;
    background: linear-gradient(to right, $color1 20%,$color2 20%);
}

@mixin line-faded($color1, $color2, $color3, $height) {
    border: 0;
    height: $height;
    background: $color2;
    background: linear-gradient(to right, $color1 20%, $color2 20%, $color3 100%);
}

@mixin line-solid($color, $height) {
    border: 0;
    height: $height;
    background: $color;
}


