.jumbotron._404{

  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  margin: 0;

  h1{
    color: $white;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  #g-usetag{
      font-size: 18rem;
      stroke-width: 6;
      stroke:#FFFFFF;
      animation: gstrokeanim 2s infinite linear;
  }
  @keyframes gstrokeanim {
      0%{stroke-width: 6;}
      50%{stroke-width: 0;}
      100%{stroke-width: 6;}

  }

  .text {
    font-size: 18rem;
    font-weight: 700;
    fill: none;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
  }

  .text:nth-child(5n + 1) {
    stroke: #FFFFFF;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
  }

  .text:nth-child(5n + 2) {
    stroke: #FFFFFF;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
  }

  .text:nth-child(5n + 3) {
    stroke: #FFFFFF;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
  }

  .text:nth-child(5n + 4) {
    stroke: #FFFFFF;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
  }

  .text:nth-child(5n + 5) {
    stroke: #FFFFFF;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
  }


  @-webkit-keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: -400;
    }
  }

  /*v animation*/

  .text1 {
    font-size: 18rem;
    fill: none;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-dasharray:1160;
    stroke-dashoffset: 1160;
      -webkit-animation: vstroke 6s infinite linear;
    animation: vstroke 6s infinite ease-in-out;

  }
  .text1:nth-child(3n+3){
      stroke-width: 4;
      stroke: #FFFFFF;
      -webkit-animation-delay: 0s;
    animation-delay: 00s;
  }
  .text1:nth-child(3n+1){
      stroke: #FFFFFF;
      stroke-width: 1;
      -webkit-animation-delay: .2s;
    animation-delay: -.2s;
  }
  .text1:nth-child(3n+2){
      stroke: #FFFFFF;
      stroke-width: 2;
      -webkit-animation-delay: -.1s;
    animation-delay: -.1s;
  }


  @keyframes vstroke {
      100%{stroke-dashoffset:0;}
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

