.banner{
    background: url(/assets/img/subpage.jpg) center center no-repeat;
    background-size: cover;
    padding-top: 200px;

    @include media-breakpoint-down(xs) {
        padding-top: 88px;
        .svg{
            svg{
                height: 44px!important;
            }
        }
        h1{
            font-size: 8vw;
        }

    }

    .content{
        color: $white;
        background: none;
        padding: 14px 44px 14px 44px;
        margin: 0;

        h1{
            text-transform: none;
            font-weight: 600;
        }

        p{
            font-size: 1.44em;
        }
    }

    .svg{

        svg{
            height: 88px;
            padding-right: 14px;
            .st0{
                fill: transparent;
                stroke: #ffffff;
            }
            .st1,.st2,.st3{
                fill: #ffffff;
            }

        }

        span{
            color: $white;
            font-size: 1.4rem;
            margin-top: 14px;
            font-weight: 600;
        }

    }
}

.banner-home{

    position: relative;
    color: $white;
    //z-index: -1; //so that bottom red bar goes on top
    @include media-breakpoint-down(md) {
        padding:0;
        .filter{
            height: auto;
        }
    }


    .filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:$black-40;
        @include transition(all .4s ease);
        @include media-breakpoint-down(sm) {
            background:$black-80;
        }
    }

    .content{
        color: $white;
        background: url(/assets/img/osmosis-globe.svg) no-repeat center left;
        padding: 144px 0 144px 0;
        margin: 144px 0 44px 0;
        @include transition(all .4s ease);

        @include media-breakpoint-down(md) {
            padding: 44px 0 44px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 22px 0 22px 0;
            margin: 100px 0 20px 0;
        }

        h1{
            font-size: 8rem;
            font-family: "Satisfy";
            color: $white;
            @include transition(all .4s ease);

            @include media-breakpoint-down(lg) {
                font-size: 6rem;
            }

            @include media-breakpoint-down(md) {
                font-size: 4rem;
            }

             @include media-breakpoint-down(sm) {
                font-size: 2.8rem;
            }
        }



    }
    span.choose{
        color: $white;
        font-size: 1.2rem;
        font-weight: 600;
    }

}


//
// Banner With Video
// --------------------------------------------------
.banner-video{

    background: url(../img/banners/resource_bg.jpg) no-repeat bottom;
    background-size:cover;
    display: flex;
    vertical-align: center;
    justify-content: center;


    .filter{
        background:$black-40;
        width: 100%;
        height: 100%;
        padding: 144px 0 144px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(all .4s ease);
        @include media-breakpoint-down(sm) {
        background:$black-80;
        }


        h1{
            color:$white;
            font-weight: 600;
            font-size: 3.44rem;
            text-transform: uppercase;
        }
        p{
            color: $white;
            font-size: 1.14em;
            font-weight: 400;
            padding-left: 10px;
        }


    }



}

//
// Banner With Centered Content
// --------------------------------------------------
.banner-centered{
    padding: 88px 0 88px 0;
    background: url(../img/banners/resource_bg.jpg) no-repeat bottom;
    background-size: cover;

    .content{
        padding: 44px 0 44px 0;
        background: $orange-90;

        h1{
            color:$white;
            text-transform: uppercase;
        }

        p{
            color: $white;
            font-size: 1.22em;
        }
    }

    .content.no-filter{
        background: none!important;
    }

    small{
        color: $white;
        font-weight: 300;
    }

}

.banner-centered.industry{
    min-height: 40vh;
    padding: 44px 0 22px 0;
    .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 4vw;
            font-weight: 700;

            @include media-breakpoint-down(sm) {
                font-size: 10vw;
            }
        }

        p{
            display: 2vw;
        }
    }

}



//
// Banner With Centered Content - No Padding
// --------------------------------------------------
.banner-centered-no-padding {

    // background: url(../img/banners/resource_bg.jpg) no-repeat bottom;
    background-size:cover;

    .content{
        padding: 88px 0 88px 0;
         background: $orange-90;

        h1{
            color:$white;
            margin-bottom: 22px
        }

        p{
            color: $white;
        }
    }

}



.banner-hub{
    padding: 0;

    .content{

            padding: 88px 0 88px 0;

            h1{
                color:$white;
                text-transform: uppercase;
                font-weight: 700;
            }

            p{
                color: $white;
                font-size: 1.22em;
            }
    }

    small{
        color: $white;
    }


}
