.big-background{
    background: url(/assets/img/TrapAP_Careers.jpg) no-repeat;
    background-size:cover;

    padding:9em 2em;

    @include media-breakpoint-down(md) {
        padding-top: 222px;
        padding-left: 10%;
        padding-bottom: 222px;
    }
    h4{
        color: $white;
    }
    .content{
        background: $grey-40;
        color: $white;

        @include media-breakpoint-down(md) {
            padding: 44px;
        }

        a, a:visited, a:focus{
            color: $white;
        }

        h1,h2,h3,h4,h5,h6{
            color: $white;
            font-weight: 400;
            margin: 0 0 22px 0;
            font-size: 1.44em;
            border-bottom: 1px solid $white;
            padding: 14px 0 8px 0;
            text-transform: uppercase;

            @include media-breakpoint-down(md) {
               padding: 0 0 8px 0;
               margin: 0 0 44px 0;
            }
        }

    }

    .content.purple{
        background: $purple-80;
    }

    .content.red{
        background: $red-80;
    }

    .content.green{
        background: $red-80;
    }

    .content.orange{
        background: $orange-80;
    }

    .content.blue{
        background: $blue-80;
    }


}
