.big-tabs{

    .nav-item{
        background: $grey-20;
        .nav-link{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $white;
            span{
                padding-top: 14px;
            }

            svg{
                height: 60px;
                @include transition(all .4s ease);

                .icon0,.icon1{
                    @include transition(fill .4s ease);
                    @for $i from 1 through 19 {
                       &:nth-child(#{$i}) {
                        @include transition-delay(0.034s * $i);
                       }
                    }
                }
                .icon0{fill:$soft-white;}
                .icon1{fill:#b2324e;}


                @media (max-width: 1280px) {
                    width: 160px;
                }

            }

            &:hover{
                .icon0{fill:$blue;}
                .icon1{fill:$red;}
            }

        }
        .nav-link.active{
            color: $grey;
            svg{
                .icon0{fill:#939598;}
            }
        }
    }



}
