//
// BLOG SLIDER
// --------------------------------------------------
.blog-slider{

    padding: 44px 0 44px 0;

    span.heading{
        display: block;
        width: 100%;
        font-size: 1.44em;
        padding: 22px 0 22px 0;
        color:#638b18;
    }

    .slide{
         width:100%;
        .flickity-prev-next-button.previous {
            left: -44px;
        }
        .flickity-prev-next-button.next {
            right: -44px;
        }
    }
    .box{
        padding: 22px;
        border: 22px solid $white;

        h3{
            color:$orange;
        }

        img{
            margin-bottom: 14px;
        }

        &:nth-child(even){

                background: #f7f8f8;

        }

        &:nth-child(odd){

                background: #eeefef;

        }
    }

    .flickity-prev-next-button.previous {
        left: -22px;
    }
    .flickity-prev-next-button.next {
        right: -22px;
    }


    @include media-breakpoint-down(sm) {
        .flickity-prev-next-button.previous {
            left: 0;
        }
        .flickity-prev-next-button.next {
            right: 0;
        }
    }

}
