.btn-ghost {
    @include button-variant($white, $white-0, $white);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;
    text-transform: uppercase;

    &:hover{
        background: $white-10;
        padding-left: 44px;
        padding-right: 44px;
    }

}

.btn-purple {
    @include button-variant($white, $purple-80, $purple);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;

    &:hover{
        background: $purple-90;
        padding-left: 44px;
        padding-right: 44px;
    }

}

.btn-green {
    @include button-variant($white, $green-80, $green);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;

    &:hover{

        background: $green-90;
        padding-left: 44px;
        padding-right: 44px;
    }

}

.btn-red {
    @include button-variant($white, $red-80, $red);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;

    &:hover{

        background: $red-90;
        padding-left: 44px;
        padding-right: 44px;
    }

}

.btn-blue {
    @include button-variant($white, $blue-80, $blue);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;

    &:hover{
        background: $blue-90;
        padding-left: 44px;
        padding-right: 44px;
    }

}

.btn-orange {
    @include button-variant($white, $orange-80, $orange);
    @include transition(all .4s ease);
    padding-left: 22px;
    padding-right: 22px;

    &:hover{
        background: $orange-90;
        padding-left: 44px;
        padding-right: 44px;
    }

}


.btn-close {
    @include button-variant($white, $blue-80, $white);
    @include transition(all .4s ease);
    width: 40px;
    height: 40px;
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    border: none;

    &:hover{
        background: $green-90;
    }

}

.btn-cta{
    color: $white;
    background: $cta;
    border: 2px solid $cta;
    @include transition(all .4s ease);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.14rem;
    box-shadow: none;
    height: 100%;
    flex: 1;
    padding-top: 44px;
    padding-bottom: 44px;

    &:hover{
      background: rgba(255,255,255,0.2);
    }

}


.btn-play{

  display: block;
  text-align: center;
  border-radius:50%;
  @include transition(all .4s ease);
  background: $white;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 14px;

  i{
    color: $white;
    font-size: 1.6em;
    padding: 18px 0 0 3px;
    margin:0;
  }

  &:hover{
    i{ color: $black; }
  }

}


.home-buttons{
    display: flex;
    flex-direction: row;
    margin-bottom: 66px;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
    a{
        height: 75px;
        width: 100%;
        position: relative;
        flex: 1;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: $white;
        background: $black-20;
        padding: 8px 8px 8px 70px;
        margin-right: 14px;
        @include transition(all .4s ease);

        @include media-breakpoint-down(sm) {
            margin-right: 0px;
            height: 75px;
            background: rgba(87, 92, 93,.8);
            border-bottom: 1px solid rgba(87, 92, 93,1);

        }


        &:last-child{
            margin-right: 0;
        }

        span.svg{
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 60px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @include transition(all .4s ease);


            img{
                width: 44px;
                padding-left: 12px;
            }

        }
        span.title{
            z-index: 2;
            font-weight: 600;
            font-size: 1.1rem;
        }


        &:hover{
            text-decoration: none;
            background: none;
            span.svg{
                width: 100%;
            }
        }

    }
    a.bus{
        .svg{
            background: $green-80;
        }
    }
    a.emergency{
        .svg{
            background: $orange-80;
        }
    }
    a.taxi{
        .svg{
            background: $blue-80;
        }
    }
    a.rail{
        .svg{
            background: $purple-75;
        }
    }

}

