//
// CASE STUDY SLIDER
// --------------------------------------------------

.case-study-slider{

    background: $soft-white;

    img{
        margin-bottom: 14px;
    }

    .box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        width: 100%;

        blockquote{
            border-left: 1px solid $grey-20;

            @include media-breakpoint-down(sm) {
                border-top: 1px solid $grey-20;
                border-left: none;
            }
        }
    }

    .flickity-prev-next-button{
        background: none;
        @include transition(all .4s ease);
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    .flickity-prev-next-button.previous {
        left: -88px;
    }
    .flickity-prev-next-button.next {
        right: -88px;
    }

}
