.challenge-cards{

    .card{
        margin: 0;
        border: none;
        border-right:1px solid rgba(0, 0, 0, 0.125);
        height:100%;

        &.orange .card-title a,
        &.orange .card-title a:link,
        &.orange .card-title a:hover,
        &.orange .card-title a:visited,
        &.orange .card-title a:active {color: $orange-80;}
        
        &.green .card-title a,
        &.green .card-title a:link,
        &.green .card-title a:hover,
        &.green .card-title a:visited,
        &.green .card-title a:active {color: $green-80;}
        
        &.purple .card-title a,
        &.purple .card-title a:link,
        &.purple .card-title a:hover,
        &.purple .card-title a:visited,
        &.purple .card-title a:active {color: $purple-80;}
        
        &.blue .card-title a,
        &.blue .card-title a:link,
        &.blue .card-title a:hover,
        &.blue .card-title a:visited,
        &.blue .card-title a:active {color: $blue-80;}
        
        .card-title{
            color: $black;
            text-transform: uppercase;
            margin-bottom: 8px;
            font-weight: 600;
            @include transition(all .4s ease);
            
        }
        .card-text{
            color: $grey;
            font-weight: 400;
            @include transition(all .4s ease);
            min-height:48px;
        }

        .grow{
            flex-grow: 1;
        }

        .button-slot {
            position:absolute;
            bottom:0px;
        }
        &:hover{
            .card-title{
                color: $grey;
            }
            .card-text{
                color: $grey;
            }
        }

        a.btn {text-transform:uppercase;}        
    }

    .card.purple{


        .card-title{
            color: $purple-80;
        }


        &:hover{
            color: $purple-80;
        }
    }
}
