.contact-block{
    background: $cta;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 144px 0 144px;

    button{
        &:nth-child(2){
            border-right: 2px solid $white;
            border-left: 2px solid $white;
        }
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        padding: 0px;
        button{
            border-bottom: 2px solid $white;
            width: 100%;
            &:nth-child(2){
                border-right: 2px solid $blue;
                border-left: 2px solid $blue;
            }
            &:nth-child(3){
                border-bottom: 2px solid $blue;
            }
        }

        &:hover{
            border-bottom: 2px solid $white;
            width: 100%;
            &:nth-child(2){
                border-right: 2px solid $blue;
                border-left: 2px solid $blue;
            }
            &:nth-child(3){
                border-bottom: 2px solid $blue;
            }
        }
    }

    a.btn-cta,
    a.btn-cta:link,
    a.btn-cta:hover,
    a.btn-cta:active,
    a.btn-cta:visited {
        color:white;
    }
}
