//
// CONSTRAST BOX
// --------------------------------------------------
.contrast-box {

  background: #00748d;
  padding: 44px 0 44px 0;
  color:#fff;

  a{color:$orange;}

  .address-block { padding-top: 44px; font-size: 114%;}
  .status {background: #fff; padding:20px; color:#333; border-radius: 8px; }

}
