.customer-success {
	.banner-video {
		max-height:400px;
		.filter {padding:0px;}
	}
	.alternating-boxes {
		.title {
			background-color: $purple-80;
			color:white;
			display:inline-block;
		}
	}

	.arrow_box {
		position: relative;
		background: #EDEDED;
		border: 4px solid #EDEDED;
	}
	.arrow_box:after, .arrow_box:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		z-index:1;
	}

	.arrow_box:after {
		border-color: rgba(237, 237, 237, 0);
		border-right-color: #EDEDED;
		border-width: 30px;
		margin-top: -30px;
	}
	.arrow_box:before {
		border-color: rgba(237, 237, 237, 0);
		border-right-color: #EDEDED;
		border-width: 36px;
		margin-top: -36px;
	}
}