#floating-jumplinks {
	position:fixed;
	right:85px;
	bottom:25px;
	z-index:3;
	.dropdown-toggle {
		background-color: $black-70;
		color:white;
		border:none;
	}
	.dropdown-menu {
		background-color: $black-70;
		color:white;
		border:none;
		.dropdown-item {
			color:white;
			&:hover {
				background-color: #777;
			}
		}
	}
}