/* satisfy-regular - latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/satisfy/satisfy-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Satisfy'),
       url('../fonts/satisfy/satisfy-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/satisfy/satisfy-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/satisfy/satisfy-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/satisfy/satisfy-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/satisfy/satisfy-v6-latin-regular.svg#Satisfy') format('svg'); /* Legacy iOS */
}


/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sourceSansPro/source-sans-pro-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sourceSansPro/source-sans-pro-v9-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}