.footer {

    background: rgba(51,62,71,1);
    color: $white-90;

    @include media-breakpoint-up(xs) {
        padding-top: 4rem;
    }

    .nav-item {
        margin-left: 0;
    }

    a, a:visited, a:hover, a:focus{
        color: $white;
    }

    .heading{
        border:none;
        outline:none;
        text-transform: uppercase;
        color: $white;
        display: flex;
        width: 100%;
        padding: 14px 8px 14px 8px;
        position: relative;
        @include transition(all .4s ease);

        &:after{
            content: '\f0d7';
            font-family: 'FontAwesome';
            color: $white;
            @include transition(all .4s ease);
            position: absolute;
            right: 20px;

            @include media-breakpoint-up(md) {
                display: none;
            }

        }

        @include media-breakpoint-down(md) {

            background: $black-10;

            &:hover{
                background: $black-40;
            }

        }


    }

    span.heading[aria-expanded="true"]{

        &:after{
            content: '\f0d8';
            color: $blue;
        }

    }

    ul{
        padding-left: 0;
    }

    .social{

    }

    svg{
        width: 234px;
        height: 46px;
        .st0,.st1,.st2,.st3,.st4{
            @include transition(fill .4s ease);
            @for $i from 1 through 19 {
               &:nth-child(#{$i}) {
                @include transition-delay(0.044s * $i);
               }
            }
        }

        .st0{fill:#7C6755;}
        .st1{fill:#31B4E6;}
        .st2{fill:#FFFFFF;}
        .st3{fill:#008FBE;}
         &:hover{
            .st2{
                fill:orange;
            }
        }
    }



}
