$line-bg: rgba(231, 231, 232, .9);
$line-bg2: rgba(231, 231, 232, .1);

hr.red-faded{
   @include line-faded($red, $line-bg, $line-bg2, 4px);
}
hr.blue-faded{
   @include line-faded($blue, $line-bg, $line-bg2, 4px);
}
hr.green-faded{
   @include line-faded($green, $line-bg, $line-bg2, 4px);
   margin-bottom: none;
}
hr.orange-faded{
   @include line-faded($orange, $line-bg, $line-bg2, 4px);
   margin-bottom: none;
}
hr.purple-faded{
   @include line-faded($purple, $line-bg, $line-bg2, 4px);
   margin-bottom: none;
}
hr.blue{
   @include line($blue, $line-bg, 4px);
}
hr.orange{
   @include line($orange, $line-bg, 4px);
}
hr.red{
   @include line($red, $line-bg, 4px);
}
hr.purple{
   @include line($purple, $line-bg, 4px);
}
hr.green{
   @include line($green, $line-bg, 4px);
}

.red-bar{
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background: $red-70;
   margin-top: -22px;
   width: 100%;
   color: $white;
   position: absolute;
}
