.logos-block {

    .row [class*="-3"] {
      padding:0px;
      margin: 0px;

      @include media-breakpoint-down(md) { border: 1px solid $grey-0; }
      @include media-breakpoint-down(xs) { padding:0px 20px; }

    }
    .row [class*="col"] {
      border: 1px solid $grey-0;
      border-left: 1px solid $grey-10;
      border-top: 1px solid $grey-10;
      @include transition(all .4s ease);
      &:first-child {border-left: 1px solid $grey-0;}
      &:nth-child(-n+4) {border-top: 1px solid $grey-0;}
      &:nth-child(5) {
        border-left: 1px solid $grey-0;
      }

      &:hover{
        .hover {opacity:1;}
      }
    }
    .row{ border-bottom: 1px solid $grey-10;
      &:last-child {border:  1px solid $grey-0;}

      @include media-breakpoint-down(md) { border: 1px solid $grey-0; }
    }

    .box {
      text-align: center;
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      height: 144px;

      a{
        display: block;
        width: 100%;
      }

    }

    .hover {
      position:absolute;
      opacity: 0;
    }

}
