.mkto-form{

  /* MARKETO RESET STYLES.
   * Get rid of those god-awful stylings created by a bunch of back-end engineers
   * who don't know anything about front-end development. */
  .mktoOffset, .mktoGutter, .mktoClear, .mktoAsterix {
    display: none !important; }

  /* MARKETO FULL-WIDTH.
   * This makes the form fit whatever contains it. */
  form, .mktoFieldDescriptor, .mktoFieldWrap, input:not(*[type='checkbox']), textarea {
    width: 100% !important; }

  /* MARKETO LABEL HIDING.
   * Let's get rid of that horrendous field label. */
  // label {
  //   display: none !important; }

  label{
      display: none;
  }

  /* MARKETO MOBILE FORM RESET.
   * These are meant to make forms 'responsive,' but it's a lot of unnecessary
   * styling that breaks our more robust styling. */
  .mktoForm {
    padding: 0px !important; }
    .mktoForm .mktoFormCol {
      width: 100%; }
    .mktoForm fieldset {
      padding: 0px !important;
      margin: 0 !important;
      border: 0; }
      .mktoForm fieldset legend {
        display: none !important; }
    input[type=url], input[type=text], input[type=date], input[type=tel], input[type=email], input[type=number], textarea.mktoField, select.mktoField, textarea, select {
      height: inherit !important;
      line-height: inherit !important;
      font-size: inherit; }

  input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="submit"], .mktoButton, textarea, select {
    display: block;
    width: 100% !important;
    height: 44px !important;
    padding: 8px !important;
    -webkit-appearance: none;
    border-radius: 0; }
    @media only screen and (max-width: 480px) {
      input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="submit"], .mktoButton, textarea {
        margin-bottom: 20px !important; } }

  input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea, select{
    border: 1px solid $black-10;
    background-color: $white-90;
    color: $grey;
    font-size: 14px !important;
    @include border-top-radius(8px);
    @include border-bottom-radius(8px);
  }

  .mktoFieldDescriptor {
    margin: 0 0 20px !important; }

  .mktoButtonRow, .mktoButtonWrap {
    display: block !important; }

  .mktoButtonWrap {
    margin: 0 !important; }

    .mktoButtonRow {
      clear: both;
    }

  input[type="submit"], .mktoButton {
    border: 0 !important;
    background: $blue !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-animation: highlight 0.8s ease-in-out forwards 10s;
            animation: highlight 0.8s ease-in-out forwards 10s;
    -webkit-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out; }
    input[type="submit"]:hover, .mktoButton:hover {
      background: darken($blue, 10%)!important;
      box-shadow: 0 0 8px $blue-80; }

  *::-webkit-input-placeholder {
    color: $grey; }

  *::-moz-placeholder {
    color: $grey; }

  *:-ms-input-placeholder {
    color: $grey; }

  *::placeholder {
    color: $grey; }

}
