.modal.full-screen {
	.mktoForm {color:white!important;}

	.spark-bg {
		opacity:0.1;
		background: url(/assets/img/Innovation-Spark.png) no-repeat left bottom;
		background-size: 600px 600px;
		position:absolute;
		top:0px;
		bottom:0px;
		left:-25%;
		right:0px;
		z-index:-1;
	}

	.modal-dialog {
		.modal-content {
			.modal-header {
			  padding-bottom: 0px;
			  margin-top: 50px;
			  border-bottom:none;
			}

			background-color:transparent;
			color:white!important;
			box-shadow: none;
			border: none;

			h4 {color:white!important;}

			input {
			  border-radius: 0px;
			  border: none;
			  background-color: rgba(255, 255, 255, 0.8);
			}

			a,
			a:link,
			a:hover,
			a:active,
			a:visited {text-decoration: underline;color:white!important;}

			.modal-footer {
				border-top:none;
			}
		}
	}


	.close {
	  padding: 20px;
	  font-size: 32px;
	  color: #fff;
	  opacity: 1;
	  font-weight: 200;
	  img {max-width:50px;}
	}

	.arrow-down {
	  width: 0; 
	  height: 0; 
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  
	  border-top: 5px solid $black-80;
	  position:absolute;
	  right:5px;
	  top:40%;
	}


}

.modal-open .modal-backdrop {
	opacity: 0.8;
}


.modal#contact-us {
	h5 {
		color:white!important;
		text-transform: uppercase;
		font-size: 1em;
	}
}


