.navbar {
    background-color:white;
    border: none;
    border-bottom: 2px solid $grey-20;
    padding: 0;
    @include transition(all .4s ease);

    .top-bar{
        position: absolute;
        display: flex;
        right: 0;
        top: 14px;
        a{
            color: $grey-80;
            padding-right: 14px;
            font-size: .8rem;
            font-weight: 600;
            @include transition(all .4s ease);

            &:hover{
                color: $grey;
                text-decoration: none;
            }
        }
    }

    .nav-link{
        @include transition(all .4s ease);
        color: $grey;
        font-size: .9rem;
        text-transform: uppercase;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 600;
    }



    .navbar-brand{
        padding: 12px 12px 8px 22px;
        svg{
            width: 160px;
            @include transition(all .4s ease);

            .logo0,.logo1{
                @include transition(fill .4s ease);
                @for $i from 1 through 19 {
                   &:nth-child(#{$i}) {
                    @include transition-delay(0.034s * $i);
                   }
                }
            }
            .logo0{fill:$grey;}
            .logo1{fill:$red;}

        }

        &:hover{
            .logo0{fill:$red;}
            .logo1{fill:$red;}
        }


    }

    .nav.navbar-nav.float-xs-right {
        line-height: 30px;
        margin: 44px 22px 0 0;
    }



    .open > a, .open > a:hover, .open > a:focus {
        background: none !important;
        color: $grey;
    }

    .dropdown-menu {
        top: 140%;
        border: none;
        background: $black-80;
        @include border-top-radius(0);
        @include border-bottom-radius(4px);


        &:before{
            content: '';
            display: block;
            position: absolute;
            top: -11px;
            right: 5%;
            width: 44%;
            height: 22px;
            background: $blue-50;
        }


       a.dropdown-item{
            color: $white;
            text-transform: none;
            border:none;
            font-size: .9em;
            font-weight: 300;
            line-height: 14px;
            padding: 14px 30px 14px 30px;

            &:hover{
                color: $white;
                background: $blue;
            }
        }
    }

    @include media-breakpoint-down(md) {
        background: $red-95;
        .nav-link {
            color: $white;
        }
        .navbar-toggler{
            background-image:none;
            margin: 10px 10px 0 0;
            outline: none;
        }

        .navbar-brand{
            padding: 12px 12px 8px 22px;
            background: none;
            @include transition(all .4s ease);
            svg{
                .logo0{fill:$white;}
                .logo1{fill:$white;}
            }

        }

        .nav.navbar-nav.float-xs-right {
            line-height: 60px;
            margin: 0;
        }
    }
}

.navbar.no-bg {

    background: none;
    border-bottom: none;


    .top-bar{
        a{
            color: $white-80;

            &:hover{
                color: $white;
            }
        }
    }
    .nav-link{
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 600;
        color: $white-80;
    }
    .open > a, .open > a:hover, .open > a:focus {
        background: none !important;
        color: $white;
    }
    .navbar-brand{
        background: $red-70;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 22px 66px 22px 66px;
        z-index: 999;

        svg{
            .logo0{fill:#FFFFFF;}
            .logo1{fill:#FFFFFF;}
        }
        &:hover{
            background: $red-90;
        }
    }
    @include media-breakpoint-down(md) {
        background: $red-70;

        .navbar-brand{
            padding: 12px 12px 8px 22px;
            background: none;
            @include transition(all .4s ease);

        }

    }
}

.navbar.shrink, .navbar.no-bg.shrink{

    background: $white-95;
    border-bottom: 2px solid $grey-20;

    .top-bar{
        display: none;
    }

    .nav-link {
        color: $grey-80;

        &:hover{
            color: $grey;
        }
    }

    .open > a, .open > a:hover, .open > a:focus {
        background: none !important;
        color: $grey;
    }
    .navbar-toggler{
        background-image:none;
        
        &.collapsed {
            .burger-icon{
                @include burger(25px, 3px, 5px, $grey);
            }    
        }
        &.is-active {
            .burger-icon {
                background-color: transparent!important;
            }
            .burger-icon:before,
            .burger-icon:after {
                background-color: $grey;
            }
        }
        .burger-icon,
        .burger-icon:before,
        .burger-icon:after {
                background-color: $grey;
        }
    }


    .navbar-brand{
        padding: 12px 12px 8px 22px;
        background: none;
        svg{
            .logo0{fill:$grey !important;}
            .logo1{fill:$red !important;}
        }

        &:hover{
            .logo0{fill:$red;}
            .logo1{fill:$red;}
        }
    }

    .nav.navbar-nav.float-xs-right {
        line-height: 60px;
        margin: 0;
    }

    .dropdown-menu {
        top: 100%;
    }

}


.mobile{
    position: fixed;
    top: 62px;
    width: 100%;
    z-index: 999;

    .collapse.sub{
        ul{
        background: $white-90
        }
    }

    .nav{
        display: flex;
        background: $grey-90;
        ul{
            flex: 1;
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;

            li{
                a,span.header{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding:8px 8px 8px 60px;
                    width: 100%;
                    font-weight: 600;
                    margin:0;
                    color: $white;

                    text-decoration: none;
                    @include transition(all .4s ease);
                    border-bottom: 1px solid $white-20;

                    &:hover{
                        background: $blue-50;
                        color: $white;
                    }
                    &:active{
                        background: $red;
                        color: $white;
                    }
                }
                a.lang{
                    width: auto;
                    padding: 4px;
                    display: inline-block;
                }

                ul{
                    li{
                        a, span.title{
                            padding-left: 80px;
                            color: $gray-dark;
                            background: $white-90;
                        }
                        span.title{
                            font-weight: 700;
                            display: block;
                        }
                    }
                }
            }
        }
        .tab {padding-left: 25px;}
    }
}
