#regionSelector {
	.logo {
		max-width:300px;
		margin:0 auto;
	}
	.modal-body {
		li {
			list-style-type: none;
			font-size:1.2em;
			padding: 5px 0px;
		}
		.label {
			padding-top:15px;
			font-weight:600;
			color: $blue;
			text-transform:uppercase;
		}
		a,
		a:link,
		a:hover,
		a:visited,
		a:active { color: white; font-size:0.8em; }
		.tab {margin-left:15px;}
	}
}