.relationship-cards{

    .card{
        margin: 0;
        .card-img-overlay{
            background: $black-80;
            display: flex;
            align-content: space-between;
            flex-direction: column;
            @include transition(all .4s ease);

            .card-title{
                background: $black;
                padding: .2em .2em;
                width: 80%;
                text-transform: uppercase;
                margin-bottom: 8px;
                font-weight: 600;
                @include transition(all .4s ease);
            }
            .card-text{
                color: $white-90;
                font-weight: 400;
                @include transition(all .4s ease);
            }
        }

        .grow{
            flex-grow: 1;
        }

        &:hover{
            .card-img-overlay{
                background: $black-90;
            }
            .card-title{
                color: $white;
            }
            .card-text{
                color: $white;
            }
        }

        a,
        a:link,
        a:hover,
        a:active,
        a:visited {color:white;}

    }

    .card.blue {
        .card-img-overlay{
            background: $blue-80;
            @include transition(all .4s ease);
        }
        
        &:hover{
            .card-img-overlay{
                background: $blue-90;
            }
        }


    }

    .card.purple{

        .card-img-overlay{
            background: $purple-70;
            .card-title{
                background: $purple;
            }
        }
        

        &:hover{
            .card-img-overlay{
                background: $purple-90;
            }
        }
    }

    .card.green{

        .card-img-overlay{
            background: $green-70;
            .card-title{
                background: $green;
            }
        }

        &:hover{
            .card-img-overlay{
                background: $green-90;
            }
        }
    }

    .card.red{

        .card-img-overlay{
            background: $red-70;
            .card-title{
                background: $red;
            }
        }

        &:hover{
            .card-img-overlay{
                background: $red-90;
            }
        }
    }

    .card.orange{

        .card-img-overlay{
            background: $orange-70;
            .card-title{
                background: $orange;
            }
        }

        &:hover{
            .card-img-overlay{
                background: $orange-90;
            }
        }
    }

    .card.green{

        .card-img-overlay{
            background: $green-70;
            .card-title{
                background: $green;
            }
        }

        &:hover{
            .card-img-overlay{
                background: $green-90;
            }
        }
    }


    /*.col-md-3.blue:nth-child(odd) .card-img-overlay{ background: $blue-70;}
    .col-md-3.purple:nth-child(odd) .card-img-overlay{ background: $purple-70;}
    .col-md-3.green:nth-child(odd) .card-img-overlay{ background: $green-70;}
    .col-md-3.red:nth-child(odd) .card-img-overlay{ background: $red-70;}
    .col-md-3.orange:nth-child(odd) .card-img-overlay{ background: $orange-70;}*/

}
