.resource-cards{

    .card{
        position: relative;
        max-height: 400px;
        cursor: pointer;
        background: $soft-white url(/assets/img/loader.svg) center 20% no-repeat;

        @include media-breakpoint-up(md) {
            max-height: 500px;
        }

        .card-img-overlay{
            background: $grey-60;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            max-height: 179.44px;
            @include transition(all .4s ease);

            @include media-breakpoint-up(md) {
                max-height: 266px;
            }
            @include media-breakpoint-up(lg) {
                max-height: 141px;
            }

            img.icon{
                width: 60px;

                @include media-breakpoint-up(lg) {
                    width: 30px;
                }
            }

            span.category{
                font-size: 1.44rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $white;
            }
        }

        .box{

            display: flex;
            flex-direction: column;
            color: $white;

            .card-title{
                margin-bottom: 8px;
                font-weight: 600;
                @include transition(all .4s ease);
                flex-grow: 1;
            }
            .card-text{
                color: $grey-80;
                font-weight: 400;
                @include transition(all .4s ease);
            }
            span.button{
                border: 1px solid $blue-80;
                color: $grey-80;
                padding: 14px 22px 14px 22px;
                text-align: center;
                @include transition(all .4s ease);
            }

        }


        &:hover{
            text-decoration: none;
            .card-img-overlay{
                background: $grey-80;
            }
            .card-title{
                color: $blue;
            }
            .card-text{
                color: $grey;
            }
            span.button{
                background: $blue-80;
                color: $white;
            }
        }

    }

    .card.blue {
        @include card-factory($blue,$blue-30,$blue-50,$blue-80);
    }
    .card.green {
        @include card-factory($green,$green-30,$green-50,$green-80);
    }
    .card.orange {
        @include card-factory($orange,$orange-30,$orange-50,$orange-80);
    }
    .card.red {
        @include card-factory($red,$red-30,$red-50,$red-80);
    }
    .card.purple {
        @include card-factory($purple,$purple-30,$purple-50,$purple-80);
    }


    .filter-buttons{

        .nav.nav-pills{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;

            @include media-breakpoint-up(md) {
                flex-direction: row;
                align-items: center;
            }
        }
        .nav-link{
            padding: 0.2em 0.4em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            color: $blue;
            @include transition(all .4s ease);

            @include media-breakpoint-up(md) {
                padding: 0.5em 1em;
                flex-direction: column;
                justify-content: center;
            }

            span {text-transform: uppercase;}

            &.show-all-btn {
                background-color: $blue-80;
                color:white;
            }

            svg{
                height: 20px;
                width: 20px;
                @include transition(all .4s ease);
                margin: 0 14px 0 0;

                .icon0,.icon1{
                    @include transition(fill .4s ease);
                    @for $i from 1 through 19 {
                       &:nth-child(#{$i}) {
                        @include transition-delay(0.034s * $i);
                       }
                    }
                }
                .icon0{fill:$grey-60;}
                .icon1{fill:#b2324e;}

                @include media-breakpoint-up(md) {
                    height: 40px;
                    width: auto;
                    margin: 0 0 14px 0;
                }

            }

            &:hover{
                color: $grey;
                background: $soft-white;
                .icon0{fill:$blue;}
                .icon1{fill:$red;}
            }

        }
        .nav-link.active{
            color: $grey;
            background: $soft-white;
            svg{
                .icon0{fill:#939598;}
            }
        }


    }


}
