#searchModal {
	.modal-body {
		height:85vh;
		display:flex;
		align-items: center;	
		.cntnt {
			font-size:3em;
			input[type="text"],
			button[type="submit"] {
				background-color: transparent;
				color:white;
				border:none!important;
				display:inline-block;
			}
		}
	}
}