.sidebar{
    .box{

        background: rgba(238, 239, 239, 1);
        .fa.fa-angle-right{
            color: $blue;
        }

    }
}


body.resource {
	.sidebar {
		.filter-button-group {
			.title {
				background-color: $blue-80;
				color:white;
				padding: 5px 10px;
			}

			.btn-link {
				color: black;
			}
		}
	}
}