//
// Social Icons
// --------------------------------------------------
.social {
  .fa-circle{
    color:#4b5b68;
    @include transition(all 0.4s ease);
  }
}
.social:hover{
  text-decoration: none;
  .fa-circle.twitter      { color:#41b7d8; }
  .fa-circle.facebook     { color:#3b5997; }
  .fa-circle.google-plus  { color:#d64937; }
  .fa-circle.linkedin     { color:#0073b2; }
  .fa-circle.vimeo-square { color:#388fc5; }
  .fa-circle.youtube      { color:#A40F09; }
  .fa-circle.flickr       { color:#ff0084; }
  .fa-circle.pinterest    { color:#cb2027; }
  .fa-circle.skype        { color:#00aff0; }
  .fa-circle.rss          { color:#e0812a; }
}
