.split-container{

  .filter, .image{
    height: 100%;
    width: 100%;
    @include media-breakpoint-down(sm) {
      min-height: 200px;
    }
  }
  .filter.blue{
    background: $blue-50;
  }
  .filter.orange{
    background: $orange-50;
  }
  .filter.red{
    background: $red-50;
  }
  .filter.green{
    background: $green-50;
  }
  .filter.purple{
    background: $purple-50;
  }

}
