.testimonials-slider{
    padding: 0 0 44px 0;
    background: $white;

    .quote-box{
        //@include border-top-radius(22px);
       // @include border-bottom-radius(22px);
        min-height: 244px;
        //background: $white;
        color: $gray-dark;


    }

    .image-box{
        img.photo{
            margin-top: 44px;
            max-width: 100% !important;
            width: auto;
            display: inline-block !important;
        }
    }

    blockquote {
      border-left: 1px solid #ccc;
      margin: 1.5em 10px;
      padding: 22px 0 22px 22px;
      font-size: 1.14em;


      footer{
        margin-top: 22px;
        font-size: .9em;
      }
    }

    blockquote:before {
      color: $black-40;
      content: '\201C';
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }


}

.testimonials{
  .flickity-page-dots {
    bottom: 60px !important;
  }
  .flickity-prev-next-button .arrow {
      fill: $blue !important;
  }
  .flickity-prev-next-button {
    background: none !important;
  }
}


